

:root{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}
.mapCon{
    position: relative;
    /* margin: 5rem;
    padding: 0; */
}
h2{
    position: absolute;
    left:1rem;
    z-index: 5;
    color:#7158ad ;

}
.search {
    position: absolute;
    top: 1rem;
    left: 24%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 400px;
    z-index: 10;
  }
  
  .search input {
    padding: 0.5rem;
    font-size: 1.1rem;
    width: 90%;
  }

.locate {
    position: absolute;
    top: 1rem;
    left: 45%;
    background: none;
    border: none;
    z-index: 5;
  }

.locate img {
    width: 30px;
    background: none;
    border: none;
    z-index: 6;
  }

