

:root{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}
.map{
    position: absolute;
    margin: auto;
    
}
h2{
    position: absolute;
    left:1rem;
    z-index: 5;
    color:#7158ad ;

}
.search {
    position: absolute;
    top: 1rem;
    left: 20%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 6;
  }
  
  .search input {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 80%;
  }

.locate {
    position: absolute;
    top: 1rem;
    left: 40%;
    background: none;
    border: none;
    z-index: 5;
  }

.locate img {
    width: 30px;
    background: none;
    border: none;
    z-index: 6;
  }

